<!DOCTYPE html>
<html>
    <head>
    {% load staticfiles %}
	<meta charset="utf-8" />
        
	<link rel="stylesheet" type="text/css" href="{% static 'databasemodels/style.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login</title>
    </head>

    <body class="body">
	
	<header class="mainHeader">

		<h1> ProtoCat </h1>
		<nav><ul>
			<li><a href="/home./">Home</a></li>
			<li><a href="/protocol_list/">Catalog</a></li>
{% if user.is_authenticated %}			
			<li><a href="/create_protocol/">Create Protocol</a></li>
			<li><a href="/logout/">Logout</a></li>
{% else %}
			<li><a href="/login/">Login</a></li>
			<li class="active"><a href="/register/">Create Account</a></li>
{% endif %}
			<li><a href="/about/">About</a></li>
		</ul></nav>
	</header>
		
	<div class="mainContent">
		<div class="content">	
				<article class="topcontent">	
					<header>
						
					</header>					
					<content>
						   <h1>Register</h1>

        {% if user.is_authenticated %}
        <strong>You are already registered!</strong>
	<a href="/logout/">Logout</a><br />
	<br>
        <a href="/home/">Return to the homepage.</a><br />
        {% else %}
        <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
          
	   
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register"/>
        </form>
        {% endif %}

	</content>
					
				</article>
		</div>	
		
			

	
	</div>	
		
    <footer class="mainFooter">
		<p> University of Michigan iGEM Software 2014 </p>
	</footer>  
    </body>
</html>
